html,body {
    background: url('https://img2.akspic.ru/crops/8/3/7/9/6/169738/169738-krasochnost-art-polutona_i_ottenki-purpurnyj_cvet-uzor-1920x1080.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}