<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Users</title>
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="user,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${user.getEmail}"></td>
        <td th:text="${user.getFirstname()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getBirthday()}"></td>
        <td>
            <a th:href="@{'/users/details/' + ${user.getId()}}" type="button" class="btn btn-warning">details</a>
        </td>
        <td>
            <a th:href="@{'/users/update/' + ${user.getId()}}" type="button" class="btn btn-primary">edit</a>
        </td>
        <td>
            <a th:href="@{'/users/delete/' + ${user.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

    <form>
        <a th:href="@{/users/new/}" type="button" class="btn btn-info">Add new User</a>
        <p></p>
        <p></p>
    </form>

    <div class="row">
        <div class="col-12">
            <h5>Search all users by birthday:</h5>
            <div class="form-group">
                <label for="birthday_from">From :</label>
                <input type="date" id="birthday_from" name="birthday" required>
            </div>
            <div class="form-group">
                <label for="birthday_from">To :</label>
                <input type="date" id="birthday_to" name="birthday">
            </div>
            <form>
                <a th:href="@{users/search}" type="button" class="btn btn-success">Search</a>
            </form>
            <p></p>
        </div>
    </div>
</div>

</body>
</html>