<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Student</title>
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <div class="row mb-2 mt-2" th:if="${showMessage}">
        <div class="col-12">
            <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
                <span th:text="${message}">message text</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${errorMessage}">message text</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
                <span th:text="${warnMessage}">message text</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New User</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/users/new}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label for="firstName">Email</label><span class="text-danger">*</span>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
                                   id="email" aria-describedby="email" placeholder="Enter email" th:field="*{email}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First name</label><span class="text-danger">*</span>
                            <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
                                   placeholder="Enter name" th:field="*{firstname}" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label><span class="text-danger">*</span>
                            <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
                                   placeholder="Enter surname" th:field="*{lastname}" required>
                        </div>

                        <div class="form-group">
                            <label for="birthday">Birthday:</label><span class="text-danger">*</span>
                            <input type="date" id="birthday" name="birthday" required>
                            <!--                        <span class="has-error text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>-->
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" aria-describedby="city"
                                   placeholder="Enter your current city" th:field="*{city}">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" name="phone" class="bg-light form-control" placeholder="+380991565588"
                                   id="phone" aria-describedby="phone" value=""
                                   pattern="^\+?\d{2}(0\d{9})$" th:field="*{phone}">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>