<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Update User</title>
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">

                <div class="row">
                    <div class="col-12">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Update user</h4>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{'/users/update/' + ${user.getId()}}" th:object="${user}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" th:field="*{email}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">New first name</label>
                                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name" th:field="*{firstname}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">New Last name</label>
                                        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter surname" th:field="*{lastname}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">New City</label>
                                        <input type="text" class="form-control" id="city" aria-describedby="city" placeholder="Enter your current city" th:field="*{city}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">New Phone</label>
                                        <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter your phone" th:field="*{phone}">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>

</body>
</html>